/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

/*
   Hide the following elements on print
   ========================================================================== */

@media print {
  .masthead,
  .toc,
  .page__share,
  .page__related,
  .ads,
  .page__footer {
    display: none;
  }
}

@media print {
  .github-follow-button,
  .github-button,
  .github-buttons,
  iframe[src*="github.com"] {
    display: none !important;
  }
}
